@font-face {
	font-family: 'Pixel';
	src: url(/font/VCR_OSD_MONO_1.001.ttf) format('truetype');
}
header {
	color: white;
	padding: 0;
	background-color: #831C91;
	margin-left: 16px;
	font-family: Pixel;
}
body {
	background-color: #831C91;
}
.main-container {
	display: flex;
}
.side-container {
	margin-right: 8px;
	width: 256px;
}
.navbar-container{
	display:flex;
	margin-bottom: 8px;
}
.navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 128px;
}
.navbar ul li {
	border-style: double;
	background-color: #FF70BF;
	height: 32px;
}
.navbar ul li a{
	display: block;
	color: white;
	font-family: Pixel;
	padding: 6px;
	text-decoration: none;
	text-align: center
}
.navbar ul li:hover{
	background-color: #D552A3;
}
iframe{
	border: solid;
	border-color:#D552A3;
}
iframe#main{
	flex: 1;
}
iframe#guestbook{
	width: 250px;
	height: 548px;
}